@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

a {
  text-decoration: none;
  font-family: "avenir";
  color: $primary-white;
  &:hover {
    // hover effect on social & email links
    opacity: 0.75;
  }
}
