// Responsive design - media query breakpoints
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;

// Site colours
$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-black: #000000;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;

//mobile padding
$padding: 24px 16px 16px 16px;
