@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

.header {
  &__container {
    background-color: $secondary-black;
    width: 100%;
    @include flex(center, center, column);
    @include tablet {
      @include flex;
    }
  }
  &__logo {
    padding: 1.25rem;
    margin: auto;
  }
  &__nav-container {
    @include flex;
    width: 100%;
    @include tablet {
      width: 30%;
      align-content: center;
      margin-right: auto;
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $primary-white;
    font-family: "avenir";
    width: 100%;
    margin: auto;
    text-align: center;

    &--active {
      border-bottom: 0.3125rem solid $primary-white;
      font-weight: 700;
      @include tablet {
        border-bottom: 2px solid $primary-white;
        padding: 20px 0;
      }
    }
    &:hover {
      font-weight: 600;
    }
  }
  &__nav-item--active {
    border-bottom: 5px solid red;
  }
}

.hero {
  &__container {
    background-image: url(../Assets/Images/hero-bio.jpg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
  }
  &__title {
    color: $primary-white;
    margin-top: 10vh;
    padding: $padding;
  }
}

.about {
  &__container {
    margin: $padding;
    @include tablet {
      padding: 0 48px;
    }
  }
  &__title {
    // padding: $padding;
  }
  &__image {
    width: 100%;
  }
  &__quote {
    @include tablet {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
    &-author {
      @include tablet {
        font-size: 0.8em;
      }
    }
  }
  &__heading {
    @include tablet {
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__content-container {
    @include tablet {
      @include flex;
    }
  }
}

.gallery {
  &__title {
    padding: $padding;
  }
  &__container {
    @extend .about__container;
    @include tablet {
      padding: 0%;
      @include flex(space-evenly, center, row);
      flex-wrap: wrap;
    }
  }
  &__image {
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
      width: 30%;
    }
  }
}

.footer {
  // @include tablet {
  //   @include flex(center, center, row);
  // }
  &__container {
    background-color: $primary-black;
    padding: 0 16px;
    color: $primary-white;
    font-size: 12px;
    @include tablet {
      @include flex;
      flex-wrap: wrap;
      padding: 0 36px;
    }
  }
  &__title {
    color: $primary-white;
    padding: 24px 0 16px 0;
    @include tablet {
      font-size: 36px;
      padding: 0;
    }
  }
  &__social-container {
    @include tablet {
      margin-top: 24px;
      width: 33%;
      @include flex(space-evenly, center, row);
    }
  }
  &__social-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 1.25rem;
    margin-bottom: 24px;
    @include tablet {
      margin: 0;
    }
  }
  &__logo {
    padding: 50px 0 16px 0;
    @include tablet {
      order: 1;
      margin-left: auto;
    }
  }
  &__copyright {
    font-size: 0.95em;
    padding-bottom: 24px;
    @include tablet {
      order: 5;
    }
  }
}

.contact {
  &__container {
    @include flex(_, _, column);
    @include tablet {
      @include flex(space-between, center, row);
      order: 2;
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
