@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// Tinted image
// Ref link: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../assets/images/hero-bio.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint colour
    background-blend-mode: multiply; //blending image & colour
    height: 18.75rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
      height: 31.25rem;
      padding: $tablet-padding;
    }
    @include desktop {
      height: 100vh;
      padding: $desktop-padding;
    }
  }
  &__title {
    @include page-header;
    color: $primary-white;
    margin-top: 15vh;
    padding: $padding;
    @include tablet {
      margin-top: 20vh;
      @include tablet-page-header;
    }
    @include desktop {
      margin-top: 40vh;
    }
    &:hover {
      //hover transition for hero title
      transform: skew(-20deg);
      transition-duration: 3s;
      transition-delay: 0.5s;
    }
  }
}

.about {
  &__container {
    margin: $padding;
    @include tablet {
      padding: 0 3rem;
    }
    @include desktop {
      padding: 0 11.25rem;
    }
  }
  &__title {
    @include section-header;
    padding: 0 1rem;
    @include tablet {
      @include tablet-section-header;
      padding-left: 3rem;
    }
    @include desktop {
      padding-left: 7.5rem;
      margin-bottom: 0;
    }
  }
  &__image {
    width: 100%;
  }
  &__quote {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
    @include desktop {
      width: 85%;
      line-height: 1.5;
    }
    &-author {
      @include tablet {
        font-size: 0.8em;
        font-weight: 550;
      }
      @include desktop {
        line-height: 3;
      }
    }
  }
  &__heading {
    @include subheader;
    font-weight: 550;
    @include tablet {
      @include tablet-subheader;
    }
  }
  &__content {
    @include body-copy;
    @include tablet {
      @include tablet-body-copy;
      width: 49%;
    }
  }
  &__content-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.gallery {
  background-color: $secondary-alabaster;
  padding: 0 1rem;
  @include tablet {
    padding: 0 1rem;
  }
  @include desktop {
    padding: 0 3.9375rem;
  }
  &__title {
    @include section-header;
    @include tablet {
      padding-left: 1.5rem;
      padding-bottom: 0;
      @include tablet-section-header;
    }
    @include desktop {
      padding: $tablet-padding;
      margin: 0;
    }
  }
  &__container {
    width: 100%;
    @include tablet {
      padding-bottom: 1.25rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &__image {
    &:hover {
      //hover effect on gallery images
      opacity: 0.75;
    }
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
      width: 30%;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      padding-bottom: 1.5rem;
    }
  }
}

//Comment Section

.comment {
  @extend .gallery;
  background-color: $primary-white;
  p {
    margin-top: 0;
    padding-top: 0;
  }
  &__title {
    @extend .gallery__title;
  }
  &__form-container {
    width: 100%;
    display: flex;
    @include tablet {
      width: 100%;
      padding-left: 10%;
    }
    @include desktop {
      width: 75%;
      justify-content: flex-end;
      padding-left: 20%;
    }
  }
  &__form {
    flex-grow: 2;
    @include tablet {
      width: 100%;
    }
  }
  &__input-container {
    width: 100%;
    @include tablet {
      width: 50%;
      flex-grow: 0.7;
    }
  }
  &__form-avatar {
    align-self: flex-start;
    margin: 1rem 1rem 1rem 0;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    border-radius: 50%;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
  &__list-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      padding: 0 10%;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      width: 85%;
      justify-content: flex-end;
      padding-left: 27%;
    }
  }
  &__main-divider {
    width: 100%;
    @include tablet {
      width: 80%;
    }
    @include desktop {
      margin-left: 27%;
      width: 48%;
    }
  }
}

.message {
  &__outter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__body-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  &__top-container,
  &__bottom-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-grow: 1;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      padding: 0;
    }
  }
  &__avatar {
    @extend .comment__form-avatar;
    margin-top: 0;
  }
  &__name {
    @include subheader;
    @include tablet {
      @include tablet-body-copy;
      font-weight: 600;
    }
  }
  &__date {
    @include body-copy;
    color: $primary-silver;
    @include tablet {
      @include tablet-body-copy;
    }
  }
  &__content {
    @include body-copy;
    text-align: left;
    @include tablet {
      @include tablet-body-copy;
    }
  }
  &__divider {
    width: 100%;
  }
}

//Input form
label {
  @include body-copy;
  color: $primary-silver;
}

input::placeholder,
textarea::placeholder {
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
  color: $primary-black;
  @include tablet {
    font-size: 1.1em;
  }
}

#submitButton {
  background-color: $primary-black;
  width: 100%;
  border: none;
  color: $primary-white;
  margin: 0.625rem 0;
  padding: 0.625rem 2rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  @include subheader;
  @include tablet {
    width: 35%;
    margin-left: 65%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  @include desktop {
    width: 30%;
    margin-left: 70%;
  }
  //hover effect on submit button
  &:hover {
    background-color: $secondary-darkblack;
  }
}

input[type="text"],
textarea {
  color: $primary-black;
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid $secondary-mercury;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0.25rem 0;
  outline: none;
  background-color: $secondary-alabaster;
  @include tablet {
    padding: 1rem;
  }
  &:focus {
    border: 1px solid $primary-black;
  }
  &:default {
    border: 1px solid $secondary-alabaster;
  }
}
input[type="text"] {
  height: 2.25rem;
  @include tablet {
    height: 3rem;
  }
}
