@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir";
}

a {
  text-decoration: none;
  color: #ffffff;
}

address {
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

.header__container {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.header__logo {
  padding: 1.25rem;
  margin: auto;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-container {
    width: 30%;
    align-content: center;
    margin-right: auto;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "avenir";
  width: 100%;
  margin: auto;
  text-align: center;
}
.header__nav-link--active {
  border-bottom: 3px solid #ffffff;
  padding: 5px 0;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__nav-link--active {
    border-bottom: 2px solid #ffffff;
    padding: 20px 0;
  }
}
.header__nav-link:hover {
  font-weight: 600;
}
.header__nav-item--active {
  border-bottom: 5px solid red;
}

.hero__container {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  height: 40vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 100vh;
    padding-left: 36px;
  }
}
.hero__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10vh;
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 40vh;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

.about__container, .gallery__container {
  margin: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .about__container, .gallery__container {
    padding: 0 48px;
  }
}
.about__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 48px 36px 36px 36px;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 0.8em;
    font-weight: 600;
  }
}
.about__heading {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.about__content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .about__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}

.gallery__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-left: 36px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__image {
  width: 100%;
  padding-bottom: 1rem;
}
.gallery__image:hover {
  opacity: 0.75;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
  }
}

.footer a:hover {
  opacity: 0.75;
}
.footer__container {
  background-color: #323232;
  padding: 0 16px;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-container {
    margin-top: 24px;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.25rem;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    margin: 0;
  }
}
.footer__logo {
  padding: 50px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 1;
    margin-left: auto;
  }
}
.footer__copyright {
  font-size: 0.95em;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    order: 5;
  }
}

.contact__container {
  display: flex;
  justify-content: _;
  align-items: _;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    order: 2;
    width: 100%;
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=bio.css.map */