@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.75;
}

hr {
  border: 1px solid #e1e1e1;
}

.header__container {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding: 0 6.25rem;
  }
}
.header__logo {
  padding: 1.25rem;
  margin: auto;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-container {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-container {
    width: 10%;
  }
}
.header__nav-link {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #e1e1e1;
}
@media screen and (min-width: 1280px) {
  .header__nav-link {
    margin: 0 1.25rem;
  }
}
.header__nav-link--active {
  border-bottom: 3px solid #ffffff;
  padding: 0.3125rem 0;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__nav-link--active {
    border-bottom: 2px solid #ffffff;
    padding: 1.25rem 0;
  }
}
.header__nav-link:hover {
  color: #ffffff;
  font-weight: 600;
}

.footer__container {
  background-color: #323232;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding: 0 6.25rem;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-container {
    margin-left: 1.25rem;
    margin-top: 1.5rem;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social-container {
    margin-left: 5%;
    width: 20%;
  }
}
.footer__social-icon {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.625rem;
  }
}
.footer__logo {
  padding: 3.125rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 1;
    margin-left: auto;
    margin-bottom: 0.9375rem;
  }
}
.footer__copyright {
  font-size: 0.8em;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.95em;
    order: 5;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .contact__container {
    flex-direction: row;
    align-items: center;
    order: 2;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact__container {
    width: 75%;
  }
}

.hero__container {
  background-image: url(../assets/images/hero-bio.jpg);
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  height: 18.75rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 31.25rem;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    height: 100vh;
    padding: 0 6.25rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10vh;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 40vh;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.hero__title:hover {
  transform: skew(-20deg);
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.about__container {
  margin: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__container {
    padding: 0 11.25rem;
  }
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    padding-left: 7.5rem;
    margin-bottom: 0;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    width: 85%;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 0.8em;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote-author {
    line-height: 3;
  }
}
.about__heading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.about__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .about__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.gallery, .comment {
  background-color: #fafafa;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery, .comment {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery, .comment {
    padding: 0 3.9375rem;
  }
}
.gallery__title, .comment__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .gallery__title, .comment__title {
    padding-left: 1.5rem;
    padding-bottom: 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title, .comment__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.gallery__container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.gallery__image {
  width: 100%;
  padding-bottom: 1rem;
}
.gallery__image:hover {
  opacity: 0.75;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    padding-bottom: 1.5rem;
  }
}

.comment {
  background-color: #ffffff;
}
.comment p {
  margin-top: 0;
  padding-top: 0;
}
.comment__form-container {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .comment__form-container {
    width: 100%;
    padding-left: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form-container {
    width: 75%;
    justify-content: flex-end;
    padding-left: 20%;
  }
}
.comment__avatar, .comment__form-avatar {
  align-self: flex-start;
  margin: 0 1rem 1rem 0;
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comment__avatar, .comment__form-avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comment__form-avatar {
  margin-top: 1rem;
}
.comment__form {
  flex-grow: 2;
}
@media screen and (min-width: 768px) {
  .comment__form {
    width: 100%;
  }
}
.comment__list-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .comment__list-container {
    padding: 0 10%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment__list-container {
    width: 85%;
    justify-content: flex-end;
    padding-left: 30%;
  }
}
.comment__outter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.comment__input-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment__input-container {
    width: 50%;
    flex-grow: 0.7;
  }
}
.comment__body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.comment__top-container, .comment__bottom-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .comment__top-container, .comment__bottom-container {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .comment__top-container, .comment__bottom-container {
    padding: 0;
  }
}
.comment__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comment__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
  }
}
.comment__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .comment__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.comment__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .comment__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.comment__main-divider {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comment__main-divider {
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__main-divider {
    margin-left: 30%;
    width: 45%;
  }
}
.comment__divider {
  width: 100%;
}

label {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
}

#submitButton {
  background-color: #323232;
  width: 100%;
  border: none;
  color: #ffffff;
  margin: 0.625rem 0;
  padding: 0.9375rem 2rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  #submitButton {
    width: 40%;
    margin-left: 60%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
}
#submitButton:hover {
  background-color: #000000;
}

input[type=text],
textarea {
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0.25rem 0;
  outline: none;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  input[type=text],
textarea {
    padding: 1rem;
  }
}
input[type=text]:focus,
textarea:focus {
  border: 1px solid #323232;
}
input[type=text]:default,
textarea:default {
  border: 1px solid #fafafa;
}

input[type=text] {
  height: 2.25rem;
}
@media screen and (min-width: 768px) {
  input[type=text] {
    height: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */