@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.header {
  &__container {
    background-color: $primary-black;
    width: 100%;
    @include flex(center, center, column);
    @include tablet {
      @include flex;
      padding-left: 2.25rem;
    }
    @include desktop {
      padding: $desktop-padding;
    }
  }
  &__logo {
    padding: 1.25rem;
    margin: auto;
  }
  &__nav-container {
    @include flex;
    width: 100%;
    @include tablet {
      width: 30%;
      align-content: center;
      margin-right: auto;
    }
    @include desktop {
      width: 10%;
    }
  }
  &__nav-link {
    width: 100%;
    margin: auto;
    text-align: center;
    @include desktop {
      margin: 0 1.25rem;
    }

    &--active {
      border-bottom: 3px solid $primary-white;
      padding: 0.3125rem 0;
      font-weight: 700;
      @include tablet {
        border-bottom: 2px solid $primary-white;
        padding: 1.25rem 0;
      }
    }
    &:hover {
      color: $primary-white;
      font-weight: 600;
    }
    &--inactive {
      color: $secondary-mercury;
    }
  }
}

// Tinted image
// Ref link: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../assets/images/hero-bio.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint color
    background-blend-mode: multiply; //tinted image overlay
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
      height: 100vh;
      padding: $tablet-padding;
    }
    @include desktop {
      padding: $desktop-padding;
    }
  }
  &__title {
    @include page-header;
    color: $primary-white;
    margin-top: 10vh;
    padding: $padding;
    @include tablet {
      margin-top: 40vh;
      @include tablet-page-header;
    }
    &:hover {
      //hover transition for hero title
      transform: skew(-20deg);
      transition-duration: 3s;
      transition-delay: 0.5s;
    }
  }
}

.about {
  &__container {
    margin: $padding;
    @include tablet {
      padding: 0 3rem;
    }
    @include desktop {
      padding: 0 11.25rem;
    }
  }
  &__title {
    @include section-header;
    padding: $padding;
    @include tablet {
      @include tablet-section-header;
      padding-left: 3rem;
    }
    @include desktop {
      padding-left: 7.5rem;
      margin-bottom: 0;
    }
  }
  &__image {
    width: 100%;
  }
  &__quote {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
    @include desktop {
      width: 85%;
      line-height: 1.5;
    }
    &-author {
      @include tablet {
        font-size: 0.8em;
        font-weight: 600;
      }
      @include desktop {
        line-height: 3;
      }
    }
  }
  &__heading {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
  }
  &__content {
    @include body-copy;
    @include tablet {
      @include tablet-body-copy;
      width: 49%;
    }
  }
  &__content-container {
    @include tablet {
      @include flex;
      width: 100%;
    }
  }
}

.gallery {
  background-color: $secondary-alabaster;
  padding: $padding;
  @include tablet {
    padding: 0 1rem;
  }
  @include desktop {
    padding: 0 3.9375rem;
  }

  &__title {
    @include section-header;
    @include tablet {
      padding-left: 1.5rem;
      padding-bottom: 0;
      @include tablet-section-header;
    }
    @include desktop {
      padding: $tablet-padding;
    }
  }
  &__container {
    @include tablet {
      padding-bottom: 1.25rem;
      @include flex(space-evenly, center, row);
      flex-wrap: wrap;
    }
  }
  &__image {
    &:hover {
      //hover effect on gallery images
      opacity: 0.75;
    }
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
      width: 30%;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      padding-bottom: 1.5rem;
    }
  }
}
.comment {
  @extend .gallery;
  background-color: $primary-white;
  &__title {
    @extend .gallery__title;
  }
  &__container {
    @extend .gallery__container;
  }
}

.footer {
  &__container {
    background-color: $primary-black;
    padding: 0 1rem;
    color: $primary-white;
    @include footer-copy;
    @include tablet {
      @include flex;
      flex-wrap: wrap;
      padding: 0 2.25rem;
      @include tablet-footer-copy;
    }
    @include desktop {
      flex-wrap: wrap;
      padding: 0 100px;
    }
  }
  &__title {
    color: $primary-white;
    @include section-header;
    padding: 1.5rem 0 1rem 0;
    @include tablet {
      @include tablet-section-header;
    }
  }
  &__social-container {
    @include tablet {
      margin-left: 1.25rem;
      margin-top: 1.5rem;
      width: 33%;
      @include flex(space-evenly, center, row);
    }
    @include desktop {
      margin-left: 5%;
      width: 20%;
    }
  }
  &__social-icon {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
    margin-right: 1.25rem;
    margin-bottom: 1.5rem;
    @include tablet {
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.625rem;
    }
  }
  &__logo {
    padding: 3.125rem 0 1rem 0;
    @include tablet {
      order: 1;
      margin-left: auto;
      margin-bottom: 0.9375rem;
    }
    @include desktop {
      margin-left: auto;
    }
  }
  &__copyright {
    font-size: 0.8em;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    @include tablet {
      font-size: 0.95em;
      order: 5;
    }
    @include desktop {
      order: 5;
      align-self: flex-end;
    }
  }
}

.contact {
  &__container {
    @include flex(space-between, center, column);
    @include tablet {
      @include flex;
      order: 2;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      width: 75%;
    }
  }
}
