@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

a {
  text-decoration: none;
  font-family: "avenir";
  color: #ffffff;
}
a:hover {
  opacity: 0.75;
}

.header__container {
  background-color: #323232;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding: 0 6.25rem;
  }
}
.header__logo {
  padding: 1.25rem;
  margin: auto;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-container {
    width: 30%;
    align-content: center;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav-container {
    width: 10%;
  }
}
.header__nav-link {
  width: 100%;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    margin: 0 1.25rem;
  }
}
.header__nav-link--active {
  border-bottom: 3px solid #ffffff;
  padding: 0.3125rem 0;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__nav-link--active {
    border-bottom: 2px solid #ffffff;
    padding: 1.25rem 0;
  }
}
.header__nav-link:hover {
  color: #ffffff;
  font-weight: 600;
}
.header__nav-link--inactive {
  color: #e1e1e1;
}

.hero__container {
  background-image: url(../assets/images/hero-bio.jpg);
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 100vh;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    padding: 0 6.25rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10vh;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 40vh;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.hero__title:hover {
  transform: skew(-20deg);
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.about__container {
  margin: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__container {
    padding: 0 11.25rem;
  }
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__title {
    padding-left: 7.5rem;
    margin-bottom: 0;
  }
}
.about__image {
  width: 100%;
}
.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote {
    width: 85%;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 0.8em;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote-author {
    line-height: 3;
  }
}
.about__heading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.about__content {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__content {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  .about__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}

.gallery, .comment {
  background-color: #fafafa;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery, .comment {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery, .comment {
    padding: 0 3.9375rem;
  }
}
.gallery__title, .comment__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .gallery__title, .comment__title {
    padding-left: 1.5rem;
    padding-bottom: 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__title, .comment__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__container, .comment__container {
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__image {
  width: 100%;
  padding-bottom: 1rem;
}
.gallery__image:hover {
  opacity: 0.75;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__image {
    padding-bottom: 1.5rem;
  }
}

.comment {
  background-color: #ffffff;
}
.footer__container {
  background-color: #323232;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    flex-wrap: wrap;
    padding: 0 100px;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-container {
    margin-left: 1.25rem;
    margin-top: 1.5rem;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-container {
    margin-left: 5%;
    width: 20%;
  }
}
.footer__social-icon {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.625rem;
  }
}
.footer__logo {
  padding: 3.125rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 1;
    margin-left: auto;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin-left: auto;
  }
}
.footer__copyright {
  font-size: 0.8em;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.95em;
    order: 5;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    order: 5;
    align-self: flex-end;
  }
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    order: 2;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact__container {
    width: 75%;
  }
}/*# sourceMappingURL=bio.css.map */