@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

.header {
  &__container {
    background-color: $secondary-black;
    width: 100%;
    @include flex(center, center, column);
    @include tablet {
      @include flex;
    }
  }
  &__logo {
    padding: 1.25rem;
    margin: auto;
  }
  &__nav-container {
    @include flex;
    width: 100%;
    @include tablet {
      width: 30%;
      align-content: center;
      margin-right: auto;
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $primary-white;
    font-family: "avenir";
    width: 100%;
    margin: auto;
    text-align: center;

    &--active {
      border-bottom: 3px solid $primary-white;
      padding: 5px 0;
      font-weight: 700;
      @include tablet {
        border-bottom: 2px solid $primary-white;
        padding: 20px 0;
      }
    }
    &:hover {
      font-weight: 600;
    }
  }
  &__nav-item--active {
    border-bottom: 5px solid red;
  }
}

// Tinted image ref: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint color
    background-blend-mode: multiply; //tinted image
    height: 40vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    @include tablet {
      height: 100vh;
      padding-left: 36px;
    }
  }
  &__title {
    @include page-header;
    color: $primary-white;
    margin-top: 10vh;
    padding: $padding;
    @include tablet {
      margin-top: 40vh;
      @include tablet-page-header;
    }
  }
}

.about {
  &__container {
    margin: $padding;
    @include tablet {
      padding: 0 48px;
    }
  }
  &__title {
    @include section-header;
    padding: $padding;
    @include tablet {
      @include tablet-section-header;
      padding: $tab-desk-padding;
    }
  }
  &__image {
    width: 100%;
  }
  &__quote {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
    &-author {
      @include tablet {
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }
  &__heading {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
  }
  &__content {
    @include body-copy;
    @include tablet {
      @include tablet-body-copy;
      width: 49%;
    }
  }
  &__content-container {
    @include tablet {
      @include flex;
      width: 100%;
    }
  }
}

.gallery {
  &__title {
    @include section-header;
    padding: $padding;
    @include tablet {
      @include tablet-section-header;
      padding-left: 36px;
    }
  }
  &__container {
    @extend .about__container;
    @include tablet {
      padding: 0%;
      @include flex(space-evenly, center, row);
      flex-wrap: wrap;
    }
  }
  &__image {
    &:hover {
      //hover effect on gallery images
      opacity: 0.75;
    }
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
      width: 30%;
    }
  }
}

.footer {
  a:hover {
    // hover effect on social & email links
    opacity: 0.75;
  }
  &__container {
    background-color: $primary-black;
    padding: 0 16px;
    color: $primary-white;
    @include footer-copy;
    @include tablet {
      @include flex;
      flex-wrap: wrap;
      padding: 0 36px;
      @include tablet-footer-copy;
    }
  }
  &__title {
    color: $primary-white;
    @include section-header;
    padding: 24px 0 16px 0;
    @include tablet {
      @include tablet-section-header;
    }
  }
  &__social-container {
    @include tablet {
      margin-top: 24px;
      width: 33%;
      @include flex(space-evenly, center, row);
    }
  }
  &__social-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 1.25rem;
    margin-bottom: 24px;
    @include tablet {
      margin: 0;
    }
  }
  &__logo {
    padding: 50px 0 16px 0;
    @include tablet {
      order: 1;
      margin-left: auto;
    }
  }
  &__copyright {
    font-size: 0.95em;
    padding-bottom: 24px;
    @include tablet {
      order: 5;
    }
  }
}

.contact {
  &__container {
    @include flex(_, _, column);
    @include tablet {
      @include flex(space-between, center, row);
      order: 2;
      width: 100%;
      margin-bottom: 24px;
    }
  }
}
