@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

.header {
  &__container {
    background-color: $secondary-black;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    @include flex(center, center, column);
    @include tablet {
      @include flex(flex-start, center);
    }
  }
  &__logo {
    padding: 1.25rem;
    margin: auto;
  }
  &__nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__nav-link {
    text-decoration: none;
    color: $primary-white;
    font-family: "avenir";
    width: 100%;
    margin: auto;
    text-align: center;

    &--active {
      border-bottom: 0.3125rem solid $primary-white;
      font-weight: 700;
      @include tablet {
        border-bottom: 2px solid $primary-white;
      }
    }
    &:hover {
      font-weight: 600;
    }
  }
}

.hero {
  &__container {
    background-image: url(../Assets/Images/hero-bio.jpg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
  }
  &__title {
    color: $primary-white;
    margin-top: 10vh;
    padding: $padding;
  }
}

.about {
  &__container {
    margin: $padding;
  }

  &__title {
    // padding: $padding;
  }

  &__image {
    width: 100%;
  }
}

.gallery {
  &__container {
    @extend .about__container;
  }
  &__image {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.footer {
  &__container {
    background-color: $primary-black;
    padding: 0 16px;
    color: $primary-white;
    font-size: 12px;
  }
  &__title {
    color: $primary-white;
    padding: 24px 0 16px 0;
  }
  &__social-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 1.25rem;
    margin-bottom: 24px;
  }
  &__logo {
    padding: 50px 0 16px 0;
  }
  &__copyright {
    font-size: 0.95em;
    padding-bottom: 24px;
  }
}

.contact {
  &__container {
    @include flex(_, _, column);
  }
}
