@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// Tinted image
// Ref link: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../assets/images/hero-shows.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint color
    background-blend-mode: multiply; //tinted image overlay
    height: 18.75rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
      height: 37.5rem;
      padding: $tablet-padding;
    }
    @include desktop {
      height: 100vh;
      padding: $desktop-padding;
    }
  }
  &__container-desktop {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    @include page-header;
    font-weight: 600;
    color: $primary-white;
    padding-left: 1rem;
    margin-top: 1.25rem;
    @include tablet {
      @include tablet-page-header;
      font-weight: 600;
    }
    @include desktop {
      display: none;
    }
  }
  &__title-desktop {
    display: none;
    @include desktop {
      display: block;
      color: $primary-white;
      @include tablet-page-header;
      font-weight: 600;
      &:hover {
        //hover transition for hero title
        transform: skew(-20deg);
        transition-duration: 3s;
        transition-delay: 0.5s;
      }
    }
  }
  &__tagline {
    @include subheader;
    color: $primary-white;
    font-weight: 400;
    padding: 1.5rem 0 0 1rem;
    @include tablet {
      @include section-header;
      font-weight: 400;
    }
    @include desktop {
      padding: 0;
      margin-top: 30vh;
      margin-bottom: 0;
    }
  }
  &__soundcloud {
    width: 100%;
    padding: 0 1rem;
    height: 6.25rem;
    font-size: 0.625rem;
    color: $primary-silver;
    @include tablet {
      height: 9.375rem;
      margin-top: 1.25rem;
      width: 65%;
    }
    @include desktop {
      width: 40%;
      margin-top: 0.625rem;
      padding-right: 1.875rem;
    }
  }
}

//Show section
.shows {
  &__title {
    @include section-header;
    font-weight: 600;
    padding-left: 1rem;
    @include tablet {
      @include tablet-section-header;
      padding: $tablet-padding;
      margin: 0;
      font-weight: 600;
      padding-bottom: 1rem;
    }
    @include desktop {
      display: none;
    }
  }
  &__title-desk {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: block;
      @include tablet-section-header;
      font-weight: 550;
      padding: $tablet-padding;
      margin: 0;
    }
  }
  &__details {
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-evenly;
      padding: 0 3%;
      margin-bottom: 1.25rem;
    }
  }
  &__container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      justify-content: space-around;
      margin-left: 30%;
    }
    &:hover {
      background-color: $secondary-alabaster;
    }
  }

  &__container-desktop {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include desktop {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10%;
      margin-bottom: 0;
    }
  }

  &__container-tab-desk {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // margin: 0 2.25rem;
      width: 100%;
    }
    @include desktop {
      margin-left: 7%;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__heading-tab-desk {
    display: none;
    @include tablet {
      text-align: left;
      width: 25%;
      @include tablet-body-copy;
      display: block;
      color: $primary-silver;
    }
    @include desktop {
      margin-top: 1.625rem;
      margin-bottom: 0;
    }
  }
  &__heading-date {
    margin-left: 2.25rem;
    @include desktop {
      margin-left: 3rem;
    }
  }
  &__heading-location {
    margin-left: -1.25rem;
  }
  &__div-placeholder {
    width: 25%;
    @include desktop {
      width: 30%;
    }
  }
  &__heading {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.625rem;
    color: $primary-silver;
    @include tablet {
      display: none;
    }
  }
  &__date {
    pointer-events: none; // prevent intervering addEventListener
    @include body-copy;
    color: $primary-black;
    font-weight: 600;
    @include tablet {
      @include tablet-body-copy;
      font-weight: 600;
      width: 20%;
      margin-right: 0.625rem;
    }
    @include desktop {
      width: 15%;
    }
  }
  &__venue,
  &__location {
    pointer-events: none; // prevent intervering addEventListener
    @include body-copy;
    color: $primary-black;
    font-weight: 400;
    margin-top: 0;
    @include tablet {
      width: 20%;
    }
    @include desktop {
      width: 15%;
    }
  }
  &__divider {
    width: 100%;
    @include desktop {
      margin-left: 32%;
      width: 65%;
    }
  }
}
.buy-button {
  background-color: $primary-black;
  height: 3.125rem;
  border: none;
  color: $primary-white;
  padding: 0.9375rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  @include subheader;
  @include tablet {
    padding: 0;
    width: 25%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  @include desktop {
    width: 22%;
  }
  &:hover {
    background-color: $secondary-darkblack;
  }
}
.onClick {
  background-color: $secondary-mercury;
}
