@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// Tinted image
// Ref link: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../assets/images/hero-shows.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint color
    background-blend-mode: multiply; //tinted image overlay
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
      height: 100vh;
      padding: $tablet-padding;
    }
    @include desktop {
      padding: $desktop-padding;
    }
  }
  &__title {
    @include page-header;
    color: $primary-white;
    margin-top: 0;
    // padding: $padding;
    @include tablet {
      margin-top: 10vh;
      @include tablet-page-header;
    }
  }
  &__tagline {
    color: $primary-white;
    padding: 16px;
    margin-top: 0;
    @include subheader;
    @include tablet {
      @include section-header;
    }
  }
  &__soundcloud {
    width: 100%;
    height: 166px;
    font-size: 10px;
    color: $primary-silver;
  }
}
