@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-family: "avenir";
  color: #ffffff;
}
a:hover {
  opacity: 0.75;
}

hr {
  border: 1px solid #e1e1e1;
}

.header__container {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 6.25rem;
  }
}
.header__logo {
  padding: 1.25rem;
  margin: auto;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-container {
    width: 30%;
    align-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav-container {
    width: 10%;
  }
}
.header__nav-link {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #e1e1e1;
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    margin: 0 1.25rem;
  }
}
.header__nav-link--active {
  border-bottom: 3px solid #ffffff;
  padding: 0.3125rem 0;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__nav-link--active {
    border-bottom: 2px solid #ffffff;
    padding: 1.25rem 0;
  }
}
.header__nav-link:hover {
  color: #ffffff;
  font-weight: 600;
}

.footer__container {
  background-color: #323232;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    flex-wrap: wrap;
    padding: 0 6.25rem;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-container {
    margin-left: 1.25rem;
    margin-top: 1.5rem;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-container {
    margin-left: 5%;
    width: 20%;
  }
}
.footer__social-icon {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__social-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.625rem;
  }
}
.footer__logo {
  padding: 3.125rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    order: 1;
    margin-left: auto;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin-left: auto;
  }
}
.footer__copyright {
  font-size: 0.8em;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.95em;
    order: 5;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    order: 5;
    align-self: flex-end;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 2;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact__container {
    width: 75%;
  }
}

.hero__container {
  background-image: url(../assets/images/hero-shows.jpg);
  background-color: rgba(50, 50, 50, 0.5);
  background-blend-mode: multiply;
  height: 18.75rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 37.5rem;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    height: 100vh;
    padding: 0 6.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-weight: 600;
  color: #ffffff;
  padding-left: 1rem;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    display: none;
  }
}
.hero__title-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .hero__title-desktop {
    display: block;
    color: #ffffff;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-weight: 600;
  }
}
.hero__tagline {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #ffffff;
  font-weight: 400;
  padding: 1.5rem 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero__tagline {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .hero__tagline {
    padding: 0;
    margin-top: 30vh;
  }
}
.hero__soundcloud {
  width: 100%;
  padding: 0 1rem;
  height: 6.25rem;
  font-size: 0.625rem;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .hero__soundcloud {
    height: 9.375rem;
    margin-top: 1.25rem;
    width: 65%;
  }
}
@media screen and (min-width: 1024px) {
  .hero__soundcloud {
    width: 40%;
    margin-top: 0.625rem;
    padding-right: 1.875rem;
  }
}

.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    margin: 0;
  }
}
.shows__details {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    padding: 0 3%;
  }
}
@media screen and (min-width: 1024px) {
  .shows__details {
    padding-bottom: 1.25rem;
  }
}
.shows__container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .shows__container {
    justify-content: space-around;
    margin-left: 30%;
  }
}
.shows__container:hover {
  background-color: #fafafa;
}
.shows__container-tab-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__container-tab-desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    width: 62%;
  }
}
@media screen and (min-width: 1024px) {
  .shows__container-tab-desk {
    margin-left: 10%;
    width: 45%;
    justify-content: space-between;
  }
}
.shows__container-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__container-desktop {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .shows__container-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
  }
}
.shows__heading-tab-desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__heading-tab-desk {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: block;
    color: #afafaf;
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .shows__heading-tab-desk {
    margin-top: 1.5625rem;
  }
}
.shows__heading {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 400;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .shows__heading {
    display: none;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.shows__date {
  pointer-events: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 600;
    width: 20%;
    margin-right: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .shows__date {
    width: 15%;
  }
}
.shows__venue, .shows__location {
  pointer-events: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .shows__venue, .shows__location {
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .shows__venue, .shows__location {
    width: 15%;
  }
}
.shows__divider {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .shows__divider {
    margin-left: 32%;
    width: 65%;
  }
}

.buy-button {
  background-color: #323232;
  height: 3.125rem;
  border: none;
  color: #ffffff;
  padding: 0.9375rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .buy-button {
    padding: 0;
    width: 25%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .buy-button {
    width: 22%;
  }
}
.buy-button:hover {
  background-color: #000000;
}

.onClick {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */