@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// Tinted image
// Ref link: https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css/35177384
.hero {
  &__container {
    background-image: url(../assets/images/hero-shows.jpg);
    background-color: rgb(50, 50, 50, 0.5); //tint color
    background-blend-mode: multiply; //tinted image overlay
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include tablet {
      height: 100vh;
      padding: $tablet-padding;
    }
    @include desktop {
      padding: $desktop-padding;
    }
  }
  &__title {
    @include page-header;
    color: $primary-white;
    margin-top: 0;
    // padding: $padding;
    @include tablet {
      margin-top: 10vh;
      @include tablet-page-header;
    }
  }
  &__tagline {
    color: $primary-white;
    padding: 16px;
    margin-top: 0;
    @include subheader;
    @include tablet {
      @include section-header;
    }
  }
  &__soundcloud {
    width: 100%;
    height: 166px;
    font-size: 10px;
    color: $primary-silver;
  }
}

.shows {
  &__title {
    @include section-header;
    padding-left: 16px;
  }
  &__container {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    &:hover {
      background-color: $secondary-alabaster;
    }
    &:active {
      background-color: $secondary-mercury;
    }
  }
  &__container-tablet {
    // background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 350px 0 50px;
  }
  &__heading-tablet {
    display: none;
    @include tablet {
      display: block;
      color: $primary-silver;
    }
  }
  &__heading {
    @include body-copy;
    font-weight: 400;
    color: $primary-silver;
    @include tablet {
      display: none;
    }
  }
  &__date {
    @include body-copy;
    color: $primary-black;
    font-weight: 600;
  }
  &__venue,
  &__location {
    @include body-copy;
    color: $primary-black;
    font-weight: 400;
  }
}
.buybtn {
  height: 50px;
  @include tablet {
    width: 200px;
  }
}
